!!! 5
html
  head
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
    title
  body
    script(src='/socket.io/socket.io.js')
    script
      jQuery(function($){
      var socket = io.connect();
       
      });
    | Welcome to home page 
    =nickname
